.backgroundStyle{
    color: aliceblue;
    background-color: rgb(61, 49, 49);
    min-height: 100vh;
} 

.button{
    margin-top: 40px;
    color: aliceblue;
    background-color: rgb(94, 82, 82);
    border: 0px;
    width: 100px;
    padding: 0px 20px;
    text-align: center;
    box-shadow: rgba(26, 23, 23, 0.35) 0px 5px 15px;
}

.countryImage{
    width: 40%;
    height:35%;
    margin-left: 30px;

}

.imageContainer{
    display: flex;
    margin-top: 7%;
    gap: 40px;
}

.countryDataStyle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.buttonMargin{
    margin-left: 30px;
    width: auto;
}

