.header{
    width: 100%;
    height: 90px;
    box-shadow: rgba(26, 23, 23, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;   
}
.moonImage{
    width: 70px;
    height:70px;
    background-color: black;
}